# Compiled
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Pycharm
.idea
.git
.venv

# Project
Papers/
ordo/ordo-win64.exe
ordo/MANUAL.pdf
ordo/LICENSE.txt
ordo/*.pgn
ordo/groups.txt
selfplay/*
!selfplay/scramble.py
images/*
!images/Game_Mouse.png
!images/Ordo.png
!images/Game2-8 Analysis.png
models/*
logs/*
